asgiref==3.8.1
boto==2.49.0
boto3==1.35.8
botocore==1.35.8
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
cryptography==43.0.0
defusedxml==0.7.1
dj-database-url==2.2.0
dj-email-url==1.0.6
dj-rest-auth==6.0.0
Django==5.1
django-allauth==0.61.1
django-cache-url==3.4.5
django-cors-headers==4.4.0
django-filter==24.3
django-storages==1.14.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
environs==11.0.0
idna==3.8
jmespath==1.0.1
Markdown==3.7
marshmallow==3.22.0
oauthlib==3.2.2
packaging==24.1
pillow==10.4.0
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
s3transfer==0.10.2
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.2
dj-rest-auth[with_social]==6.0.0 
